<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../static/omri.js"></script>
    <span style="border: ff 3px solid gray;"> 
    </span>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div id="tab1" onclick="changeColor('tab1')"><a href="/home">Home</a></div>
        <div id="tab2" onclick="changeColor('tab2')"><a href="/contact">Contact</a></div>
        <div id="tab3" onclick="changeColor('tab3')"><a href="/assignment4">Assignment4</a></div>
    </header>
    <div class="container">
        <div id="currTab">Contact</div>

        <div style="border: 20px solid; padding: 2vh; margin: 22px;">
            <h1>Execrise 1</h1>
        </div>

        <label for="start">Start date:</label>

<input type="date" id="start" name="trip-start"
       value="2022-04-17"
       min="2022-01-01" max="2022-12-31">
    <form action="URL" method="post">
        <br>
        <label for="FullName">Full name</label> <br> 
        <input type="text" id="FullName" name="fullName" autocomplete="on" required> <br>
        <label for="email">Email</label> <br>
        <input type="email" id="email" name="email" > <br>
        <input type="button" value="press here"> <br>
        <label for="agree">I agree</label>
        <input type="checkbox" id="agree" name="agree"> <br>
        <input type="submit" onclick="thankAlert()"> <br>
        <input type="number">
    
        
    </form>
    <div>block level element</div>
    <span>inline element</span>
    <span>another inline element</span> <br>
    <p>new element that wasnt in class</p>
    <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>Check Point</td>
          <td>Omri Cohen</td>
          <td>Israel</td>
        </tr>
      </table>
    <nav>

        <ul>
            <li><a href="https://www.youtube.com/watch?v=ISNWEd5n0Y8&list=RDISNWEd5n0Y8&start_radio=1">very beutiful song</a></li>
        </ul>
        <ul>
            <li><a href="home.html">home page</a></li>
        </ul>
    </nav>
    
        <div class="wrapper">
                    <div class="box a">Company</div>
                    <div class="box b">Contact</div>
                    <div class="box c">Country</div>
                    <div class="box d">Check Point</div>
                    <div class="box e">Omri Cohen</div>
                    <div class="box f">Israel</div>
        </div>

    </div>

       <script>
            var x = document.getElementById('currTab');
            console.log(x)
            x.style.color='red'
            if(x.innerHTML == 'Home'){
                var y = document.getElementById('home1');
                y.style.color = 'red'
            } else {
                var y = document.getElementById('contact1');
                y.style.color = 'red'
            }
       </script>
    
</body>
</html>