<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 20px solid; padding: 2vh; margin: 22px;">
        <h1>Home Page</h1>
    </div>
    <img src='C:\Users\omri9\Desktop\eca40f8a-9816-4995-bbda-f69b9827ecb8.jpg' />
    <form action="URL" method="post">
        <br>
        <label for="Is this kid cute?">Is this kid cute?</label> <br> 
        <input type="text" name="Is this kid cute?" autocomplete="on" > <br>
        <ul>
            <li><a href="contact.html">home page</a></li>
        </ul>
      
    </form>  
</body>
</html>